# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/

# Caches
.ruff_cache/
.mypy_cache/
.pytest_cache/

# OS
.DS_Store
Thumbs.db
